@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.section-1 {
    background-color: #0b0547;
    height: 20vh;
}

.message-box {
    width: 50%;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
}

.button-style {
    border-radius: 5px;
    background-color: #8f1d1d;
    color: #f3f1f1;
    height: 30px;
}

.btn-available-yes {
    background-color: green;
    color: aliceblue;
    width: 40px;
    height: 40px;
}

.btn-available-no {
    background-color: red;
    color: aliceblue;
    width: 40px;
    height: 40px;
}

.btn-available-edit {
    background-color: rgb(56, 56, 56);
    color: aliceblue;
    width: 40px;
    height: 30px;
    display: none;
}

.section-2 {
    background-color: #f3f1f1;
    height: 50vh;
}

.section-3 {
    background-color: #8f1d1d;
    height: 15vh;
}

.img-section {
    background: url("/media/hockey-web.png") no-repeat fixed;
    height: 20vh;
}

.font-custom {
    color: green;
    font-size: 15vw;
}

.main-sect-font {
    color: rgb(73, 73, 73);
    font-size: x-large;
    margin-left: 10px;
}

.main-sect-font2 {
    color: rgb(73, 73, 73);
    font-size: large;
    margin-left: 10px;
}

.face-hide {
    display: none;
}

.camera-pp-style {
    color: aliceblue;
    padding-top: 24px;
    padding-left: 12px;
}

.camera-pp-border {
    width: 50px;
    height: 50px;
    border: solid aliceblue 1px;
    border-radius: 50%;
    position: absolute;
}

.pp-name {
    color: aliceblue;
    padding-top: 50px;
    width: 100px;
    text-align: center;
}


/*--------------------Sign Up---------------------------*/

.sign-in {
    border-radius: 5px;
    color: aliceblue;
    background-color: #0b0547;
}

.sign-out {
    border-radius: 5px;
}

.sign-out-hide {
    display: none;
}

.pp-selector {
    background-color: #8f1d1d;
    color: aliceblue;
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
    color: #8f1d1d;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}